<footer class="footer mt-5">
  <div class="container footer-top">
    <div><i class="fas fa-map-marker-alt"></i> Carrera 11 con Calle 8, cerca a la Calle 13. Fontibón vía Mosquera</div>
    <div><i class="fab fa-whatsapp"></i> 3102388895 - 3102388927</div>
    <div><i class="fas fa-headset"></i> Horarios de atención: Lunes a domingo de 9:00 am a 5:00 pm</div>
    <div class="social-icons text-center text-white">
      Síguenos:
      <a href="https://www.facebook.com/arconstruccionesoficial" target="_blank">
        <i class="mx-2 fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/arconstrucciones/" target="_blank">
        <i class="mx-2 fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/@arconstrucciones8986" target="_blank">
        <i class="mx-2 fab fa-youtube"></i></a>
      <i class="mx-2 fab fa-tiktok"></i>
    </div>
  </div>
  <div class="footer-bottom mb-0">
    Todos los derechos reservados © 2024 AR CONSTRUCCIONES S.A.S.
  </div>
</footer>
