<nav class="fixed-top navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container-fluid">
    <a href="#"><img class="navbar-brand" src="assets/img/ar-logo-header.png" alt="Logo"></a>
    <div class="d-lg-none d-flex flex-column project-price">
      <span>Desde</span><br>$147 SMMLV
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item" *ngFor="let menuOption of menuOptions">
          <a class="nav-link" aria-current="page" [href]="'#'+ menuOption.value" (click)="optionSelected = menuOption.value">
            <span [class]="optionSelected == menuOption.value ? 'menu-selected-option': 'menu-option'">{{ menuOption.label }}</span>
          </a>
        </li>
      </ul>
      <div class="d-none d-lg-flex flex-column project-price">
        <span>Desde</span><br>$147 SMMLV
      </div>
    </div>
  </div>
</nav>
