<div class="home">
  <div class="banner" style="background-image: url('assets/img/banner.jpg');">
    <div class="blur-overlay"></div>
    <div class="banner-text">
      Bienvenido
    </div>
  </div>
  <div class="container">
    <h1 class="title-1 my-4">
      <span class="red-text">Descubre la verdadera esencia de Acanto 2:</span> ven a nuestra sala de ventas y haz tu sueño de hogar más tangible
    </h1>
  </div>
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/WwtoW02gcgI?si=vNB-ONdW2IbukiD1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <div class="container">
    <h1 class="text-center text-uppercase my-4">
      Encuentra tu camino a Acanto 2 en Google Maps
    </h1>
  </div>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.436504494243!2d-74.18167632636032!3d4.693967241718682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9da63bf11e57%3A0xfd36b0bc1a67e58b!2sAcanto%20Sala%20de%20Ventas%20AR!5e0!3m2!1sen!2sco!4v1713998117611!5m2!1sen!2sco" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
