.contact-us-button {
  border-radius: 6px;
  background: #D50C1D;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px;
  font-size: 15px;
  text-decoration: none;
  i {
    font-size: 20px;
  }
}

.contact-us-button:hover {
  background: rgba(213, 12, 29, 0.92);
  transform: scale(1.1);
  transition: transform 0.3s ease;
}


.blur {
  background: rgba(0, 0, 0, 0.53);
}

.banner-img {
  background-image: url('src/assets/img/banner.jpg');
}

.banner {
  height: 500px;
}

.banner-text {
  text-transform: uppercase;
  padding: 15px;
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  .text {
    max-width: 50%;
    .title {
      font-size: 28px;
      font-weight: 600;
    }
  }
  line-height: 1.5;
  color: white;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Ocupa toda la altura de la ventana */
}

.video-container iframe {
  width: 80%; /* Ancho del video */
  max-width: 1000px; /* Ancho máximo del video */
  height: 500px; /* Altura del video */
}



.title-red-black {
  color: #1E1E1E;
  font-weight: 800;
  font-size: 25px;
  line-height: 1.1;
  text-transform: uppercase;
  span {
    color: #D50C1D;
  }
}

.red-text {
  color: #D50C1D;
}

.map {
  width: 100%;
  height: 450px; /* Altura del mapa */
  overflow: hidden; /* Oculta el desbordamiento */
}

.map iframe {
  width: 100%;
  height: 100%; /* Ocupa toda la altura del contenedor */
  border: 0;
}

.vis-tag {
  background: #D50C1D;
  font-weight: 600;
  line-height: 1.5;
  color: white;
  width: 100px;
  padding: 10px 20px;
}

.right-animation {
  transform: translateX(50px);
}

.left-animation {
  transform: translateX(-50px);
}

.red-title-box {
  opacity: 0;
  background: #D50C1D;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: white;
  border-radius: 4px;
}

.activate-animation {
  opacity: 1;
  transform: translateX(0); /* Cambio a translateX para la dirección de la animación */
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.activate-animation-left {
  opacity: 1;
  transform: translateX(0); /* Cambio a translateX para la dirección de la animación */
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.element-to-animate {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.activate-animation {
  opacity: 1;
}

.image-benefits {
  width: 100%;
  border-radius: 8px;
}

.text-benefits {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.1;
}

.icon-benefits {
  color: #D50C1D;
  font-size: 30px;
}

.house-tour-img-text {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 85%, transparent);
  text-transform: uppercase;
  padding: 15px;
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  .title {
    font-size: 22px;
    font-weight: 600;
  }
  line-height: 1.5;
  color: white;
}

.house-tour-text {
  background: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  padding: 15px;
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  .title {
    font-size: 22px;
    font-weight: 600;
  }
  line-height: 1.5;
  color: white;
}

/* Estilos para pantallas móviles */
@media (max-width: 767px) {
  .video-container iframe {
    width: 100%; /* Ancho del video al 100% en móviles */
    max-width: none; /* Ancho máximo no aplicado en móviles */
    height: 250px; /* Altura fija del video en móviles */
  }

  .red-title-box {
    font-size: 18px;
    transform: translateX(10px);
  }

  .text-benefits {
    font-size: 18px;
  }

  .title-red-black {
    font-size: 20px;
  }

  .house-tour-text {
    font-size: 12px;
    .title {
      font-size: 18px;
    }
  }

  .banner {
    height: 450px;
  }

  .banner-text {
    font-size: 15px;
    .text {
      max-width: 100%;
      .title {
        font-size: 22px;
        font-weight: 600;
      }
    }
    line-height: 1.5;
  }

  .left-animation {
    transform: translateX(-5px);
  }

  .right-animation {
    transform: translateX(5px);
  }
}
