<div class="home mt-5">
  <div class="banner-img">
    <div class="blur banner py-5">
      <div class="vis-tag">
        Apto VIS
      </div>
      <div class="container">
        <div class="row py-5">
          <div class="col-12 banner-text">
            <div class="text">
              <div class="title">Bienvenido a Acanto 2:<br>
                tu hogar en una zona de alta valorización</div>
              Vive la experiencia de residir en Acanto 2, donde cada detalle está pensado para tu comodidad. Apartamentos en obra gris, parqueadero privado y amplias zonas sociales.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="home" class="container my-3">
    <div class="col-xs-12 col-lg-10 red-title-box py-1 px-3"
         #animatedElementRight>
      Vive el lujo en Acanto 2:<br>
      comodidades que superan tus expectativas
    </div>
    <div *ngFor="let benefit of benefits; let i = index" class="row my-3">
      <ng-container *ngIf="i % 2 === 0; else evenRow">
        <div class="col-xs-12 col-md-7">
          <img class="image-benefits rounded-1 left-animation" #animatedElementLeft
               [src]="'assets/img/benefits/' + benefit.picture"
               [alt]="benefit.title">
        </div>
        <div class="col-xs-12 col-md-5 py-2 py-lg-5 right-animation" #animatedElementRight>
          <div class="text-benefits">
            {{ benefit.title }}
          </div>
          <p class="fw-normal">
            {{ benefit.description }}
          </p>
        </div>
      </ng-container>
      <ng-template #evenRow>
        <div class="d-none d-md-block col-xs-12 col-md-5 py-2 py-lg-5 left-animation"
             #animatedElementLeft>
          <div class="text-benefits" >
            {{ benefit.title }}
          </div>
          <p class="fw-normal">
            {{ benefit.description }}
          </p>
        </div>
        <div class="col-xs-12 col-md-7">
          <img class="image-benefits rounded-1 right-animation" #animatedElementRight
               [src]="'assets/img/benefits/' + benefit.picture"
               [alt]="benefit.title">
        </div>
        <div class="d-md-none col-xs-12 col-md-5 py-2 py-lg-5">
          <div class="text-benefits">
            {{ benefit.title }}
          </div>
          <p class="fw-normal">
            {{ benefit.description }}
          </p>
        </div>
      </ng-template>
    </div>
    <div class="d-flex flex-row-reverse">
      <div class="col-xs-12 col-lg-10 red-title-box py-1 px-3 text-end left-animation"
           #animatedElementLeft>
        Sumérgete en la experiencia Acanto 2:<br>
        donde la calidad y el bienestar se encuentran.
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-6 col-md-4" *ngFor="let benefit of benefitsWithIcons">
        <div class="container my-2">
          <div class="row">
            <div class="col-2 col-sm-3 col-md-3 col-lg-2  icon-benefits">
              <i [class]="benefit.icon"></i>
            </div>
            <div class="col-10 col-sm-9 col-md-9 col-lg-10">
              <div class="text-benefits">
                {{ benefit.title }}
              </div>
              {{ benefit.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tour" class="container title-red-black col-12 col-md-10 my-3">
      <span>Adéntrate en la experiencia:</span>
      descubre el apartamento modelo de Acanto 2, tu nuevo hogar
    </div>
    <div class="house-tour rounded-2 element-to-animate" #focusContent>
      <div class="card bg-white text-white my-3" *ngFor="let housePlace of houseTour; let i = index">
        <img class="card-img" [src]="'assets/img/house-tour/'+housePlace.picture" [alt]="housePlace.title">
        <div class="card-img-overlay" [ngClass]="{'d-flex justify-content-end align-items-start': i % 2 === 0}">
          <div class="card-title col-6 house-tour-img-text mx-0 d-none d-md-block right-animation"
               #animatedElementRight>
            <div class="title">{{ housePlace.title }}</div>
            {{ housePlace.description }}
          </div>
        </div>
        <div class="card-body house-tour-text mx-0 d-md-none">
          <div class="title">{{ housePlace.title }}</div>
          {{ housePlace.description }}
        </div>
      </div>
    </div>
    <div class="container title-red-black col-12 col-md-10 my-3">
      <span>Explora cada detalle:</span>
      recorrido virtual 360° de Acanto 2, tu futuro hogar
    </div>
    <div class="tour-360 col-md-12">
      <iframe class="rounded-2" src="https://artour360.com/360/acanto2/Apartamento%20Acanto%20II.html" width="100%" height="400px" frameborder="0"></iframe>
    </div>
    <div id="location" class="container title-red-black col-12 col-md-10 my-3">
      <span>Descubre la verdadera esencia de Acanto 2:</span>
      ven a nuestra sala de ventas y haz tu sueño de hogar más tangible
    </div>
    <div class="video-container">
      <iframe class="rounded-2" src="https://www.youtube.com/embed/WwtoW02gcgI?si=vNB-ONdW2IbukiD1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <h1 class="text-center text-uppercase my-4">
      Encuentra tu camino a Acanto 2 en Google Maps
    </h1>
    <div class="map rounded-1">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.436504494243!2d-74.18167632636032!3d4.693967241718682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9da63bf11e57%3A0xfd36b0bc1a67e58b!2sAcanto%20Sala%20de%20Ventas%20AR!5e0!3m2!1sen!2sco!4v1713998117611!5m2!1sen!2sco" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="container title-red-black col-12 col-md-10 my-3 text-center">
      <span>¡Estás a un paso de tu nuevo hogar!</span><br>
      Déjanos tus datos y te contactaremos para ofrecerte más detalles y beneficios personalizados según tu perfil.
    </div>
    <div class="form container my-3 col-12 col-md-6">
      <form class="item text-center">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nombre</mat-label>
          <input id="name" name="name"  matInput [(ngModel)]="person.name" required placeholder="Ingresa tu nombre">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Correo</mat-label>
          <input id="email" type="email" name="email"  matInput [(ngModel)]="person.email" required placeholder="Ingresa tu correo">
        </mat-form-field>
        <mat-form-field hintLabel="10 digitos" appearance="outline" class="w-100">
          <mat-label>Celular</mat-label>
          <input id="cellphone"
                 type="number"
                 name="cellphone"
                 matInput
                 [(ngModel)]="person.cellphone"
                 maxLength="10"
                 required placeholder="Ingresa número de celular">
        </mat-form-field>
        <button type="submit"
                [disabled]="!validateRequiredFields()"
                (click)="sendPersonData()"
                class="px-5 py-2 my-3 rounded-2 btn btn-danger"
                data-bs-dismiss="modal">
          Enviar
        </button>
      </form>
    </div>
  </div>
  <a target="_blank"
     href="https://api.whatsapp.com/send/?phone=573222726310&text=Me+interesa+conocer+informaci%C3%B3n+sobre+RESERVA+DE+MOSQUERA+ACANTO+2+VIS+ETAPA+1a"
     class="contact-us-button">
    Contáctanos <i class="fab fa-whatsapp"></i>
  </a>
</div>
